<a class="skip-link" href="#main-content">Skip to content</a>
<header class="site-header" role="banner">
  <div class="wrapper khcc-bar">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img
        class="khcc-bar-logo"
        src="{{ site.baseurl }}/assets/img/khcc-icon.png"
        width="48"
        height="48"
        alt="King Hussein Cancer Center"
      />
      <span class="khcc-bar-copy">
        <span class="khcc-bar-name">Claude Cowork</span>
        <span class="khcc-bar-meta">KHCC &middot; 30-minute tutorial</span>
      </span>
    </a>
  </div>
</header>
{% include lesson-qr.html %}
<span id="main-content"></span>
